<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diagnosis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diagnosis">
        <activity android:name=".MainNavigation"></activity>
        <activity android:name=".Result" />
        <activity android:name=".Register" />
        <activity
            android:name=".Diagnosis55"
            android:label="@string/title_activity_diagnosis"
            android:theme="@style/Theme.Diagnosis.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>